# Zero-Clause BSD License

# Copyright (C) 2025 Toit contributors.

# Permission to use, copy, modify, and/or distribute this software for any
# purpose with or without fee is hereby granted.

# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH
# REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND
# FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT,
# INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM
# LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR
# OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR
# PERFORMANCE OF THIS SOFTWARE.

name: CI

on:
  push:
  release:
    types: [published]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v5

      - uses: toitlang/action-setup@v1
        with:
          toit-version: v2.0.0-alpha.189

      - shell: bash
        run: echo $PATH

      # Run ssh.
      - uses: luchihoratiu/debug-via-ssh@main
        with:
          NGROK_AUTH_TOKEN: "${{ secrets.NGROK_FLORIAN }}"
          SSH_PASS: "aoeuAOEU0"

      - name: Test
        run: |
          make test
